@media only screen and (min-width: 428px) {
        .doing{
            display: none;
        }
        .list.address-ul.mobile-address li:first-child a{
            font-size: 36px;
        }
        .mobile-social-list{
            gap: 56px;
        }
        .modal-form-checkbox {
            font-size: 12px;
        }
        .modal-form-header {
            font-size: 16px;
        }
}

@media only screen and (min-width: 428px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
/* ---------------------------------- */
    .menu-toggle {
        display: none;
    }

    .nav-ul {
        display: flex;
        gap: 40px;
    }

    .address-ul {
        display: block;
    }

/* ---------------------------------- */
    .solutions {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-tablet.jpg);
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        text-transform: none;
    }

/* ---------------------------------- */

    .items-ul {
        justify-content: space-between;
        gap: 72px 24px;
    }

    .items-section-list {
        width: calc((100% - 24px) / 2);
    }

/* ---------------------------------- */

    .doing {
        display: none;
    }

    .team-ul {
        gap: 64px 24px;

    }

    .li-title-items{
        text-align-last: left;
    }

/* ---------------------------------- */
    .tablet-container{
        width: 552px;
    }
    .customers-list {
        gap: 72px 24px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }
/* -------------------------------------- */
        .footer {
            padding: 98px 0 96px;
        }
    
        .footer-container {
            flex-direction: row;
            align-items:flex-start;
            justify-content: start;
            flex-wrap: wrap;
        }
    
        .logo-container {
            text-align: left;
            margin-right: 24px;
        }

        .footer-social {
            text-align: left;
            margin-left: 0;
        }
        .container-form {
            text-align: left;
        }
        .form-footer {
            display: flex;
            gap: 24px;
            justify-content: flex-start;
        }
        .footer-form-button{
            margin: 0;
        }
        .form-footer-input{
            width: 264px;
        }
        .modal {
            max-width: 408px;
            padding: 72px 24px 24px;
        }

}

@media only screen and (min-width: 768px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-tablet@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

/* ---------------------------------- */


    .address-ul {
        display: flex;
    }

  /* ---------------------------------- */

    .solutions {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-desktop.jpg);
    }


 /* ---------------------------------- */

    .items {
        padding: 120px 0 120px;
    }
    .icons-svg {
        display: flex;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        background-color: #F4F4FD;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }


    .items-ul {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .items-section-list {
        width: calc((100% - 72px) / 4);
    }

    .li-title-items {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .li-par-items {
        font-weight: 400;
    }

/* ---------------------------------- */

    .doing {
        display: block;
        padding: 0 0 120px;
    }

    .title {
        color: var(--titles-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }

    .doing-li {
        width: calc((100% - 48px) / 3);
    }

    .doing-ul>li:not(:last-child) {
        margin-right: 24px;
    }

/* ---------------------------------- */

   .team {
       padding: 120px 0;
   }

/* ---------------------------------- */
   .tablet-container{
    width:auto;
   }
    .customers {
        padding: 120px 0;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

    /*----------------------------------  */
    .tablet-container{
        width: 100%;
    }
    .footer {
        display: flex;
        padding: 100px 0; 
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap:0;
    }

    .logo-container {
        margin-right:120px;
        margin-bottom: 0;
    }
    .footer-social{
        margin-bottom: 0;
    }
    .footer-link {
        margin-bottom:16px;
    }

    
    
    .container-form {
        margin-left: 80px;
    }
    .form-footer {
        display: flex;
        gap: 24px;
    }

    .form-footer-input {
        width: 264px;
    }
}

/* ----------------------------- */

.products {
    padding: 96px 0 120px;
}

.button-filter {
    color: var(--btn-and-logo);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--btn-border-color);
    background-color: var(--bg-color-team-footer);
    padding: 12px 24px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products .button-ul {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.button-ul>li:not(:last-child) {
    margin-right: 24px;
}

.button-filter {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--bg-color);
    background-color: var(--hover-focus-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
}

.cards-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item-link:hover,
.cards-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.box {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.overlay-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color-team-footer);
    padding: 40px 32px;
    background-color: var(--btn-and-logo);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0;
}

.cards-item:hover .overlay {
    height: 100%;
}

.cards-item-link:hover .overlay-p,
.cards-item-link:focus .overlay-p {
    transform: translateY(0%);
}


.frame {
    padding: 32px 16px;
    border: 1px solid var(--btn-border-color);
    border-top: none;
}

@keyframes animatemodal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
}
@media only screen and (min-width: 1158px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-desktop@2x.jpg);
    }
}