@media only screen and (min-width: 428px) {
        .doing{
            display: none;
        }
        .list.address-ul.mobile-address li:first-child a{
            font-size: 36px;
        }
        .mobile-social-list{
            gap: 56px;
        }
        .modal-form-checkbox {
            font-size: 12px;
        }
        .modal-form-header {
            font-size: 16px;
        }
}

@media only screen and (min-width: 428px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
/* ---------------------------------- */
    .menu-toggle {
        display: none;
    }

    .nav-ul {
        display: flex;
        gap: 40px;
    }

    .address-ul {
        display: block;
    }
    .address-link{
        margin-left: 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
    .address-ul li:not(:last-of-type){
        margin-bottom: 12px;
    }
/* ---------------------------------- */
    .solutions {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-tablet.jpg);
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        text-transform: none;
    }

/* ---------------------------------- */

    .items-ul {
        justify-content: space-between;
        gap: 72px 24px;
    }

    .items-section-list {
        width: calc((100% - 24px) / 2);
    }

/* ---------------------------------- */

    .doing {
        display: none;
    }

    .team-ul {
        gap: 64px 24px;

    }

    .li-title-items{
        text-align-last: left;
    }

/* ---------------------------------- */
    .tablet-container{
        width: 584px;
        padding: 0 16px;
    }
    .customers-list {
        gap: 72px 24px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }
/* -------------------------------------- */
        .footer {
            padding: 98px 0 96px;
        }

        .footer-container {
            flex-direction: row;
            align-items:flex-start;
            justify-content: start;
            flex-wrap: wrap;
            gap: 72px 24px;
        }
    
        .logo-container {
            text-align: left;  
            margin-bottom: 0;
        }

        .footer-text{
            margin-bottom: 0;
        }

        .footer-social {
            text-align: left;
            margin-left: 0;
            margin-bottom: 0;
        }
        .container-form {
            text-align: left;
        }
        .form-footer {
            display: flex;
            gap: 24px;
            justify-content: flex-start;
        }
        .footer-form-button{
            margin: 0;
        }
        .form-footer-input{
            width: 264px;
        }
        .modal {
            max-width: 408px;
            padding: 72px 24px 24px;
        }

/* ------------------------------------- */

    .products {
        padding: 64px 0 96px;
    }
    .products .button-ul {
        justify-content: center;
        margin-bottom: 64px;
    }
    .products-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .cards-item{
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    
}

@media only screen and (min-width: 768px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-tablet@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

/* ---------------------------------- */


    .address-ul {
        display: flex;
    }

    .address-link {
        margin-left: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

  /* ---------------------------------- */

    .solutions {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-desktop.jpg);
    }


 /* ---------------------------------- */

    .items {
        padding: 120px 0 120px;
    }
    .icons-svg {
        display: flex;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        background-color: #F4F4FD;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }


    .items-ul {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .items-section-list {
        width: calc((100% - 72px) / 4);
    }

    .li-title-items {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .li-par-items {
        font-weight: 400;
    }

/* ---------------------------------- */

    .doing {
        display: block;
        padding: 0 0 120px;
    }

    .title {
        color: var(--titles-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }

    .doing-li {
        width: calc((100% - 48px) / 3);
    }

    .doing-ul>li:not(:last-child) {
        margin-right: 24px;
    }

/* ---------------------------------- */

   .team {
       padding: 120px 0;
   }

/* ---------------------------------- */
   .tablet-container{
    width:auto;
   }
    .customers {
        padding: 120px 0;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

    /*----------------------------------  */
    .tablet-container{
        width: 100%;
    }
    .footer {
        display: flex;
        padding: 100px 0; 
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap:0;
    }

    .logo-container {
        margin-right:120px;
        margin-bottom: 0;
    }
    .footer-social{
        margin-bottom: 0;
    }
    .footer-link {
        margin-bottom:16px;
    }

    
    
    .container-form {
        margin-left: 80px;
    }
    .form-footer {
        display: flex;
        gap: 24px;
    }

    .form-footer-input {
        width: 264px;
    }

/* ----------------------------- */

    .products {
        padding: 96px 0 120px;
    }

    .products .button-ul {
        justify-content: center;
        margin-bottom: 72px;
    }

    .products-cards {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }

    .cards-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .box {
        position: relative;
        width: 360px;
        height: 300px;
    }

    .overlay-p {
        display:flex;
    }

}
@media only screen and (min-width: 1158px) and (resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office-desktop@2x.jpg);
    }
}