/* -------СКИДАННЯ СТИЛІВ--------- */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
    padding: 0;
}


ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
}
input,
textarea{
    font-family: inherit;
    line-height: inherit;
    background-color: inherit;
}

input:hover, 
input:focus,
textarea:hover,
textarea:focus{
    border: 1px solid var(--hover-focus-color);
    outline: none;
}


/* ----------------------------------------- */

:root {
    --btn-and-logo: #4D5AE5;
    --hover-focus-color: #404BBF;
    --bg-color: #FFFFFF;
    --bg-color-team-footer: #F4F4FD;
    --titles-color: #2E2F42;
    --main-color: #434455;
    --btn-border-color: #E7E9FC;
    --background-two: rgba(46, 47, 66, 0.70);
    --backdrop-shadow: rgba(46, 47, 66, 0.4);
    --modal-shadow: #FCFCFC;
    --green-hover: #31D0AA;
    --customers: #8e8f99;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
}

.section {
    padding: 120px 0 120px;
}

.container {
    width: 100%;
    max-width: 428px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* -------HEADER----- */

.header {
    border-bottom: 1px solid var(--btn-border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    line-height: 1.17;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--btn-and-logo);
    margin-right: 76px;
    padding: 24px 0;
}

.link {
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--hover-focus-color);
}

.span {
    color: var(--titles-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span:hover,
.span:focus {
    color: var(--hover-focus-color)
}

.list {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    display: flex;
}

.list:hover,
.list:focus {
    color: var(--hover-focus-color);
}

.nav-ul {
    display: none;
}

.mobile-menu-list:not(:last-child){
    margin-bottom: 40px;
}

.li-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
    color: var(--titles-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    position: relative;
    color: var(--hover-focus-color);
}

.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-focus-color);
}

.address-ul{
    display:none;
}

.address-link {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------SOLUTIONS------------- */

.solutions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--titles-color);
    padding: 122px 0;
    background-image: linear-gradient(to bottom, var(--background-two), var(--background-two)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.solutions-title {
    display:block;
    color: var(--bg-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 320px;
    margin: 0 auto;
}

.li-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--titles-color);
    margin-bottom: 8px;
}

.li-par {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.modal-button {
    display: block;
    color: var(--bg-color);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: var(--btn-and-logo);
    margin: 48px auto 0;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--hover-focus-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-shadow);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: animatemodal 250ms ;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    align-content: space-between;
    background-color: var(--modal-shadow);
    border-radius: 4px;
    width: 95%;
    max-width: 392px;
    padding: 72px 16px 24px;
    height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: var(--hover-focus-color);
    border: none;
    fill: var(--bg-color);
}

.modal-form-header {
    font-weight: 500;
    font-size: calc(((100vw - 320px) * (4 / 108)) + 12px);
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--titles-color);
    margin-bottom: 16px;
}

.modal-form-inputs{
    margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:var(--customers);
  margin-bottom: 4px;
}

.input-with-icon {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus{
    border-color:var(--btn-and-logo);
}

.input-icon {
    position: absolute;
    fill:var(--titles-color);
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover+ .input-icon,
.form-input:focus+ .input-icon
{
    fill: var(--btn-and-logo);
}

.modal-form-textarea{
    margin-bottom: 16px;
}

.textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus{
    border-color: var(--btn-and-logo);
    color:var(--main-color);
}

.privacy {
    margin-bottom: 24px;
}

.modal-form-checkbox{
    font-size: calc(((100vw - 320px) * (3 / 108)) + 9px);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers);
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span:hover{
    border-color:var(--hover-focus-color);
}

.privacy input[type="checkbox"]:checked +label span{
    background-color: var(--hover-focus-color);
    border: none;
    fill: var(--bg-color-team-footer);
}

.privacy input[type="checkbox"]:focus +label span{
    border-color: var(--hover-focus-color);
}

.privacy-text {
    color: var(--btn-and-logo);
}

.send-button {
    margin-top: 24px;
}

/* -----ITEMS--------- */

.items {
    padding: 96px 0;
}

.items-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.items-section-list {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icons-svg {
    display: none;
}

.li-title-items{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.li-par-items{
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}


/* ------DOING------- */
.doing {
    display:none;  
}


/* --------TEAM--------- */

.team {
    background-color: var(--bg-color-team-footer);
    padding: 96px 0;
}

.title {
    color: var(--titles-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-items {
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.li-par+.list {
    margin-top:8px;
}

.card-text {
    padding: 32px 0;
}

.social-links {
    justify-content: center;
    gap: 24px;
}

.social-icons {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link {
    display: flex;
    background-color: var(--btn-and-logo);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-link:hover,
.card-link:focus {
    background-color: var(--hover-focus-color);
}

.svg-icons {
    fill: var(--bg-color-team-footer);
}

/* ---------CUSTOMERS-------- */
.customers {
    padding: 96px 0;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customers-list-item {
    width: 100%;
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link-item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--customers);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link-item:hover,
.customers-link-item:focus {
    color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);
}

.customers-icons {
    fill: currentColor;
}



/* -------FOOTER-------- */

.footer {
    padding: 97px 0 96px;
    background-color: var(--titles-color);
    color: var(--bg-color-team-footer);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-container {
    text-align: center;
    margin-bottom: 72px;
}
.footer-social{
    text-align: center;
    margin-bottom: 72px;
}
.footer-link {
    margin-bottom: 17px;
    margin-right: 0;
    padding: 0;
}

.footer-span {
    color: var(--bg-color-team-footer);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 16px;
    text-align: left;
}

.footer-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color);
    margin-bottom:16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-icons {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--btn-and-logo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--green-hover);
}

.svg-social-icons {
    fill: var(--bg-color-team-footer);
}

.container-form {
    text-align: center;
    width: 100%;
}

.footer-form-par{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color);
}
.form-footer-input {
    width:100%;
    height: 40px;
    border: 1px solid var(--bg-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--bg-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer-input:hover,
.form-footer-input:focus {
    border-color: var(--hover-focus-color);
}
.footer-form-button {
    display: flex;
    min-width: 165px;
    margin: 16px auto 0;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--bg-color);
    background-color: var(--btn-and-logo);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--hover-focus-color);
}

.label-subscribe {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-form-button-icon {
    margin-left: 16px;
    fill: var(--bg-color);
}

.form-footer-input::placeholder {
    width: 100%;
    box-sizing: border-box;
    color: var(--bg-color);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form-button-footer:hover, 
.form-button-footer:focus {
    background-color: var(--hover-focus-color);
}


/* --------FILTER--------- */

.products {
    padding: 48px 0 48px;
}

.button-ul{
    flex-wrap: wrap;
    row-gap: 16px;
}
.button-filter {
    color: var(--btn-and-logo);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--btn-border-color);
    background-color: var(--bg-color-team-footer);
    padding: 12px 24px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products .button-ul {
    display: flex;
    margin-bottom: 48px;
}

.button-ul>li:not(:last-child) {
    margin-right: 24px;
}

.button-filter {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-filter:hover,
.button-filter:focus {
    color: var(--bg-color);
    background-color: var(--hover-focus-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-cards {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.cards-item {
    max-width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item-link:hover,
.cards-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box {
    position: relative;
    max-width: 396px;
    overflow: hidden;
    margin: 0 auto;
    /* position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto; */
}

.overlay-p {
    display: none;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color-team-footer);
    padding: 40px 32px;
    background-color: var(--btn-and-logo);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0;
}

.cards-item:hover .overlay {
    height: 100%;
}

.cards-item-link:hover .overlay-p,
.cards-item-link:focus .overlay-p {
    transform: translateY(0%);
}

.frame {
    padding: 32px 16px;
    border: 1px solid var(--btn-border-color);
    border-top: none;
}

@keyframes animatemodal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------MOBILE MENU------------ */
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color:var(--bg-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    stroke: var(--titles-color);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
}

.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 233, 252, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover,
.js-close-menu:focus {
    background-color: var(--hover-focus-color);
    border: none;
    fill: var(--bg-color);
}

.mobile-menu .li-items::after{
    display:none;
}

.mobile-menu {
    display: flex;
    flex-direction: column; 
}

.mobile-menu .li-items{
    font-size: 36px;
    font-weight: 700;
}

.menu-container .mobile-address{
    display: block;
    margin-top: auto;
    margin-bottom: 48px;
}

.list.address-ul.mobile-address li:first-child a {
    color: var(--btn-and-logo);
    font-family: Roboto;
    font-size: calc(((100vw - 320px) * (11 / 108)) + 25px);
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.list.address-ul.mobile-address li:last-child a {
    color: var(--main-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-social-list{
    display: flex;
    gap: calc(((100vw - 320px) * (28 / 108)) + 28px);
}
